@{
    var About = ViewBag.About as About;
    var SiteSettings = ViewBag.SiteSettings as SiteSetting;
    var Contactitems = ViewBag.Contactitems as List<Contactitem>;
    var SocialMedias = ViewBag.SocialMedias as List<SocialMedia>;
    var current_controller = ViewBag.current_controller;// ViewContext.RouteData.Values["Controller"];
    var current_action = ViewBag.current_action;// ViewContext.RouteData.Values["Action"];
    var SolutionLinks = ViewBag.SolutionsLinks ;
    var IndustrialLinks = ViewBag.IndustrialLinks ;
    var ServicesLinks = ViewBag.ServicesLinks;
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>3S</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />

</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="~/Home/Index"><img src="~/assets/images/@SiteSettings.HeaderLogo"
                            alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="nav-center">
                        <div class="collapse navbar-collapse top-menu justify-content-center" id="navbarNavAltMarkup">
                            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link @(current_controller=="Home"&&current_action=="Index"?"active":"")"
                                        aria-current="page" href="@Url.Action("Index","Home")">Home</a>
                                </li>
                         
                                   <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="@Url.Action("About","Home")" data-bs-toggle="dropdown"
                                        @(current_controller=="Home"&&current_action=="About"?"active":"")
                                        data-bs-auto-close="outside">About</a>
                                    <ul class="dropdown-menu shadow">
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("About","Home")">
                                              About us
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("About","Home")">
                                        CEO MESSAGE
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("About","Home")">
                                         OUR VALUES
                                            </a>
                                        </li>
                                             <li>
                                            <a class="dropdown-item" href="@Url.Action("About","Home")">
                                   OUR TEAM
                                            </a>
                                        </li>
                                         <li>
                                            <a class="dropdown-item" href="@Url.Action("Creers","Home")">
                                              Creers
                                            </a>
                                        </li>
                                         <li>
                                            <a class="dropdown-item" href="@Url.Action("Index","News")">
                                            News
                                            </a>
                                        </li>
                                    </ul>
                                </li>



                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="@Url.Action("Index","Services")" data-bs-toggle="dropdown"
                                        @(current_controller=="Services"&&current_action=="Index"?"active":"")
                                        data-bs-auto-close="outside">Services</a>
                                    <ul class="dropdown-menu shadow">
                                          @foreach (var itm in  ServicesLinks)
                                        {
                                                <li>
                                                    <a class="dropdown-item"
                                                href="@Url.Action("Index","Services",new{Id=itm.Id})">
                                                    @itm.Name
                                                    </a>
                                                </li>
                                        }
                                    </ul>
                                </li>
                            
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="@Url.Action("Index","Solutions")" data-bs-toggle="dropdown"
                                        @(current_controller=="Solutions"&&current_action=="Index"?"active":"")
                                        data-bs-auto-close="outside">Solutions</a>
                                    <ul class="dropdown-menu shadow">
                                       @foreach(var itm in SolutionLinks)
                                       {
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("Index","Solutions",new{Id=itm.Id})">
                                              @itm.Title
                                            </a>
                                        </li>
                                       }
                             
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(current_controller=="Home"&&current_action=="Projects"?"active":"")"
                                        aria-current="page" href="@Url.Action("Projects","Home")">Projects</a>
                                </li>
                         

                                      <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                        @(current_controller=="Home"&&current_action=="Industries"?"active":"")
                                        data-bs-auto-close="outside">Industries</a>
                                    <ul class="dropdown-menu shadow">
                                       @foreach(var itm in IndustrialLinks)
                                       {
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("Industries","Home",new{Id=itm.Id})">
                                              @itm.Title
                                            </a>
                                        </li>
                                       }
                             
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(current_controller=="Home"&&current_action=="Partners"?"active":"")"
                                        aria-current="page" href="@Url.Action("Partners","Home")">Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(current_controller=="Home"&&current_action=="Contact"?"active":"")"
                                        aria-current="page" href="@Url.Action("Contact","Home")">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="display: flex; align-items: fl;">
                        <div class="search search_btn d-block">
                            <a href="javascript:;" onClick="openSearch()">
                                <img src="~/assets/images/search-icon.svg">
                            </a>
                        </div><!-- search -->
                        <div class="lang">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    En
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="index-ar.html">عربي</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    @RenderSection("HeaderTitle", false)
    <main role="main">
        @RenderBody()
    </main>
    <footer>
        <section class="footer-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 newsletter-label-container">
                        <h4>
                            @SiteSettings.SubscribeTitle
                        </h4>
                    </div>
                    <div class="col-md-7">
                        <div class="subscribe">
                            <input type="text" placeholder="Enter Your Email">
                            <button type="button" class="subscribe-btn">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-bottom">
            <div class="container">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="logo">
                            <img src="~/assets/images/@SiteSettings.FooterLogo" alt="logo 1">
                        </div>
                        <p class="description">
                            @SiteSettings.FooterDesc
                        </p>
                        <div class="social-links ">
                            <ul class="list-unstyled list-group list-group-horizontal ">
                                @foreach (var item in SocialMedias)
                                {
                                    <li>
                                        <a href="@item.Link" class="@item.Icon">
                                            <i class="fa-brands fa-@item.Icon"></i>
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>

                        <div class="copyright">
                            @SiteSettings.CopyRight
                        </div>
                    </div>
                    <div class="col-md-4 fast-links">
                        <h2>
                            Our Link
                        </h2>
                        <div class="row">
                            <div class="col-md-6">

                                <ul class="list-unstyled list-group">
                                    <li>
                                        <a href="@Url.Action("Index","Home")">
                                            Home Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("About","Home")">
                                            About us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Services")">
                                            Services
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Career
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">

                                <ul class="list-unstyled list-group">
                                    <li>
                                        <a href="@Url.Action("Industries","Home")">
                                            Industries
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Projects","Home")">
                                            Projects
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Solutions") ">
                                            Solutions
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            News
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 contact-info">
                        <h2>
                            Our Address
                        </h2>
                        <div>
                            @foreach (var item in Contactitems)
                            {
                                <div class="d-flex contact-info-item">
                                    <div class="icon">
                                        <img src="~/assets/images/@item.Icon" alt="@item.Title">
                                    </div>
                                    <div class="text">
                                        @item.Value
                                    </div>
                                </div>
                            }

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="~/assets/js/inlineSVG.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
