@model IEnumerable<_3sApp.Models.Project>

@{
    ViewData["Title"] = "Projects";	
    ViewData["ActionTitle"]="List";
    Layout = "_AdminLayout";

}


<div class="row">
    <div class="col-md-12 ">
        	<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title pull-left">
													@ViewData["ActionTitle"]
												</h3>
                                             
											</div>

                                               <a  class="btn btn-primary pull-right create-btn" href="@Url.Action("Create","Projects",new{area="Administrative"})" >Create New</a>
                                                
										</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scope)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndustrialSolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Describtion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                 <img src="~/assets/images/@item.ClientLogo" class="img-thumbnail" width="100px" alt="">
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scope)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndustrialSolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Describtion)
            </td>
            <td>
                 <img src="~/assets/images/@item.CoverImage" class="img-thumbnail" width="100px" alt="">
             
            </td>
            <td>
             <a  class="btn btn-outline-success"  href="@Url.Action("Edit","Projects",new{area="Administrative",Id=item.Id})" ><i class="fa fa-edit  "></i> Edit </a> 
               
                <a class="btn btn-outline-danger"  href="@Url.Action("Delete","Projects",new{area="Administrative",Id=item.Id})"   asp-route-id="@item.Id" onclick="return confirm('Are you sure From Deleted?')" > <i class="fa fa-trash "></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
    </div>
</div>

