@model IEnumerable<_3sApp.Models.Career>


@{
    ViewData["Title"] = "Careers";
    	ViewData["ActionTitle"]="List";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-12 ">
        	<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title pull-left">
													@ViewData["ActionTitle"]
												</h3>
                                             
											</div>

                                               <a  class="btn btn-primary pull-right create-btn" href="@Url.Action("Create","Careers",new{area="Administrative"})" >Create New</a>
                                                
										</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
  
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
    
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createdon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosedDate)
            </td>
           <td>
                <a  class="btn btn-outline-success"  href="@Url.Action("Edit","Careers",new{area="Administrative",Id=item.Id})" ><i class="fa fa-edit  "></i> Edit </a> 
                <a  class="btn btn-outline-brand"  href="@Url.Action("Details","Careers",new{area="Administrative",Id=item.Id})" ><i class="fa fa-edit  "></i> Details </a> 
                <a class="btn btn-outline-danger"  href="@Url.Action("Delete","Careers",new{area="Administrative",Id=item.Id})"   asp-route-id="@item.Id" onclick="return confirm('Are you sure From Deleted?')" > <i class="fa fa-trash "></i> Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>