@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var About = ViewBag.About as About;
    var SiteSettings = ViewBag.SiteSettings as SiteSetting;
    var OurValues = ViewBag.OurValues as List<OurValue>;
    var Members = ViewBag.Members as List<Member>;
}
@section HeaderTitle{
<div class="top-title">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>About us</li>
    </ul>
</div>
}

<div class="layout position-relative">
    <section class="about-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-5 dark about-title">
                    <h3>
                       @About.HomeTitle
                    </h3>
                    <p>
                      @About.SecondTitle
                    </p>
                    <img src="~/assets/images/@About.PageImage" alt="About">
                </div>
                <div class="col-md-6 offset-md-1 about-summary">
                    @About.PageDesc
                </div>
            </div>
        </div>
    </section>
    <section class="security-solutions">
        <div class="container">
            <div class="row">
                <div class="col-md-6 security-solutions-text">
                    <h3>
                      Security Systems
                    </h3>
                    <h6>
                       @About.SecurityTitle
                    </h6>
                    <p>
                        @About.SecurityDesc
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="~/assets/images/@About.SecurityImage" alt="security-solutions">
                </div>
            </div>
        </div>
    </section>
    <section class="ceo-message dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>
                        @About.CEOTitle
                    </h2>
                    <img src="~/assets/images/@About.CEOImage" alt="security-solutions">
                </div>
                <div class="col-md-6 security-solutions-text">
                    <p>
                        @About.CEODesc
                    </p>
                    <img src="~/assets/images/@About.SignImage" alt="Abdulaziz M. Aljabr">
                </div>
            </div>
        </div>
    </section>
    <section class="our-values dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h3>
                       @About.OurValues
                    </h3>
                    <h2>
                        @About.OurValuesH1
                    </h2>
                    <p>
                       @About.OurValuesH2
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="our-values-details">
        <div class="container">
            <div class="row">
                <div class="row">
                    @foreach(var item in OurValues)
                    {
                    <div class="col-md-4">
                        <div class="value-card">
                            <div class="icon">
                                <img src="~/assets/images/@item.Icon" alt="">
                            </div>
                            <p>
                               @item.Desc
                            </p>
                        </div>
                    </div>
                    }
                
                </div>
            </div>
        </div>
    </section>

        <section class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h3>
                       OUr team
                    </h3>
                    <h2>
                     The best Way to Reach your Goal
                    </h2>
                   
                </div>
            </div>
        </div>
    </section>
    <section class="our-team-details">
        <div class="container">
            <div class="row">
              
                    @foreach(var item in Members)
                    {
                    <div class="col-md-3">
                        <div class="value-card">
                            <div class="icon">
                                <img src="~/assets/images/@item.Image" alt="" >
                            </div>
                            <h2>
                                @item.Name
                            </h2>
                            <p>
                               @item.JobTitle
                            </p>
                        </div>
                    </div>
                    }
                
          
            </div>
        </div>
    </section>
</div>