@model List<Career>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
  

}

@section HeaderTitle{
<div class="top-title">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Careers</li>
    </ul>
</div>
}

<div class="layout position-relative">
    <section class="careers">
        <div class="container">
            <div class="accordion accordion-flush" id="accordionFlushExample">

                @foreach(var item in Model)
                {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <div class="tags">
                               @item.Type
                            </div>
                            <h3>
                               @item.Title
                            </h3>
                            <p>
                              @item.Description
                            </p>
                            <div class="time">
                                <img src="~/assets/images/calendar.svg" alt="Date">
                               @item.ClosedDate
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h2>
                                Responsibilities
                            </h2>
                            <ul>
                      @item.Responsibilities
                            </ul>
                            <h2>
                                Requirements
                            </h2>
                            <ul>
                             @item.Requirements
                            </ul>
                        </div>
                    </div>
                </div>
                }
            @*    <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                            body. Let's imagine this being filled with some actual content.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                            body. Nothing more exciting happening here in terms of content, but just filling up the
                            space to make it look, at least at first glance, a bit more representative of how this would
                            look in a real-world application.</div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>
</div>