@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using _3sApp.ViewModels
@model _3sApp.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    var sliderIndex = 0;
    var sliderIndex_pointer = 0;
    var SolutionsIndex = 0;
    var SolutionsIndex_tab = 0;
    var ProjectIndex = 0;
    var ProjectIndex_img = 0;
    Layout = null;

    var current_controller = ViewBag.current_controller;// ViewContext.RouteData.Values["Controller"];
    var current_action = ViewBag.current_action;// ViewContext.RouteData.Values["Action"];

    var SolutionLinks = ViewBag.SolutionsLinks;
    var IndustrialLinks = ViewBag.IndustrialLinks;

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.SiteSettings.SiteTitle</title>
    <meta name="description" content="@Model.SiteSettings.SiteDesc">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.helper.ie8.js"></script><![endif]-->

    <link rel="stylesheet" href="~/assets/css/style.css" />
</head>

<body class="home">
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="~/Home/Index"><img
                            src="~/assets/images/@Model.SiteSettings.HomeHeaderLogo" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="nav-center">
                        <div class="collapse navbar-collapse top-menu justify-content-center" id="navbarNavAltMarkup">
                              <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link @(current_controller=="Home"&&current_action=="Index"?"active":"")"
                                        aria-current="page" href="@Url.Action("Index","Home")">Home</a>
                                </li>

                                   <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="@Url.Action("About","Home")" data-bs-toggle="dropdown"
                                        @(current_controller=="Home"&&current_action=="About"?"active":"")
                                        data-bs-auto-close="outside">About</a>
                                    <ul class="dropdown-menu shadow">
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("About","Home")">
                                                About us
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("About","Home")">
                                                CEO MESSAGE
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("About","Home")">
                                                OUR VALUES
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("About","Home")">
                                                OUR TEAM
                                            </a>
                                        </li>
                                    </ul>
                                </li>



                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="@Url.Action("Index","Services")" data-bs-toggle="dropdown"
                                        @(current_controller=="Services"&&current_action=="Index"?"active":"")
                                        data-bs-auto-close="outside">Services</a>
                                    <ul class="dropdown-menu shadow">
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("Index","Services")">
                                                Consulting Services
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("Index","Services")">
                                                Design and Engineering
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("Index","Services")">
                                                Consulting Services
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="@Url.Action("Index","Solutions")" data-bs-toggle="dropdown"
                                        @(current_controller=="Solutions"&&current_action=="Index"?"active":"")
                                        data-bs-auto-close="outside">Solutions</a>
                                    <ul class="dropdown-menu shadow">
                                        @foreach (var itm in SolutionLinks)
                                        {
                                                <li>
                                                    <a class="dropdown-item"
                                                href="@Url.Action("Index","Solutions",new{Id=itm.Id})">
                                                    @itm.Title
                                                    </a>
                                                </li>
                                        }

                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(current_controller=="Home"&&current_action=="Projects"?"active":"")"
                                        aria-current="page" href="@Url.Action("Projects","Home")">Projects</a>
                                </li>


                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                        @(current_controller=="Home"&&current_action=="Industries"?"active":"")
                                        data-bs-auto-close="outside">Industries</a>
                                    <ul class="dropdown-menu shadow">
                                        @foreach (var itm in IndustrialLinks)
                                        {
                                                <li>
                                                    <a class="dropdown-item"
                                                href="@Url.Action("Industries","Home",new{Id=itm.Id})">
                                                    @itm.Title
                                                    </a>
                                                </li>
                                        }

                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(current_controller=="Home"&&current_action=="Partners"?"active":"")"
                                        aria-current="page" href="@Url.Action("Partners","Home")">Partners</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(current_controller=="Home"&&current_action=="Contact"?"active":"")"
                                        aria-current="page" href="@Url.Action("Contact","Home")">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="display: flex; align-items: fl;">
                        <div class="search search_btn d-block">
                            <a href="javascript:;" onClick="openSearch()">
                                <img src="~/assets/images/search-icon.svg">
                            </a>
                        </div><!-- search -->
                        <div class="lang">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    En
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="index-ar.html">عربي</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="layout position-relative">
        <section class="main-slider">

            <div id="mainSliderCarousel" class="owl-carousel owl-theme">
                @foreach (var item in Model.Sliders)
                {
                        <div class="carousel-item @(sliderIndex==0?"active":"")" data-bs-interval="10000"
                    style="background-image: url('/assets/images/@item.CoverImage');">
                            <div class="row">
                                <div class="col-md-5">
                                    <h2 class="white mb-3">
                                    @Html.Raw(item.Title)
                                    </h2>
                                    <p class="white">
                                    @Html.Raw(item.Description)
                                    </p>
                                    <a href="@item.Link" class="btn btn-green">
                                        Learn More
                                        <img src="~/assets/images/launch-app.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                }
            </div>
            <style id="main-slider-style">

            </style>
            @if (false)
            {
                    <div id="mainSliderCarousel" class="carousel carousel-dark slide" data-bs-ride="true">
                        <div class="carousel-indicators">

                        @foreach (var item in Model.Sliders)
                        {
                                    <button type="button" data-bs-target="#mainSliderCarousel" data-bs-slide-to="@sliderIndex_pointer"
                        class="@(sliderIndex_pointer==0?"active":"")" aria-current="@(sliderIndex_pointer==0?"true":"")"
                        aria-label="Slide @sliderIndex_pointer"></button>

                            @(sliderIndex_pointer=sliderIndex_pointer+1)
                        }

                        </div>
                        <div class="carousel-inner">
                        @foreach (var item in Model.Sliders)
                        {
                                    <div class="carousel-item @(sliderIndex==0?"active":"")" data-bs-interval="10000"
                        style="background-image: url('/assets/images/@item.CoverImage');">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <h2 class="white mb-3">
                                            @Html.Raw(item.Title)
                                                </h2>
                                                <p class="white">
                                            @Html.Raw(item.Description)
                                                </p>
                                                <a href="@item.Link" class="btn btn-green">
                                                    Learn More
                                                    <img src="~/assets/images/launch-app.svg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                        }

                        </div>
                    </div>
            }
        </section>
        <main>
            <section class="about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-6">
                            <h3>
                                About us

                            </h3>
                            <h2>
                                @Model.About.SecondTitle

                            </h2>
                            <p>
                                @Html.Raw(Model.About.HomeDesc)
                            </p>

                            <a href="~/Home/About" class="btn btn-green">
                                Learn More
                                <img src="~/assets/images/launch-app.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-3 text-center">
                            <h3 class="home20">
                                Services
                            </h3>
                            <h2>
                                @Model.SiteSettings.ServiceTitle
                            </h2>
                            <p>
                                @Model.SiteSettings.ServiceDesc
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="services-details">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            @foreach (var item in Model.Services)
                            {
                                    <div class="col-md-4">
                                        <div class="service-card">
                                            <div class="icon">
                                                <img src="~/assets/images/@item.Icon" alt="">
                                            </div>
                                            <h2>
                                            @item.Name
                                            </h2>
                                            <p>
                                            @item.Describtion.Substring(0,item.Describtion.Length>100?100:item.Describtion.Length)
                                            </p>
                                            <a href="~/Services/Index">
                                                Learn More
                                                <img src="~/assets/images/launch-app-green.svg" alt="">
                                            </a>
                                        </div>
                                    </div>
                            }

                        </div>
                    </div>
                </div>
            </section>
            <section class="solutions">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-3 text-center">
                            <h3 class="home20">
                                Solutions
                            </h3>
                            <h2>
                                @Model.SiteSettings.SolutionsTitle
                            </h2>
                            <p>
                                @Model.SiteSettings.SolutionsDesc
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                @foreach (var item in Model.Solutions)
                                {
                                        <button class="nav-link @(SolutionsIndex==0?"active":"")"
                                    id="@("nav-"+SolutionsIndex+"-solutions-tab")" data-bs-toggle="tab"
                                    data-bs-target="@("#nav-"+SolutionsIndex+"-solutions")" type="button" role="tab"
                                    aria-controls="nav-@SolutionsIndex-solutions" aria-selected="true">
                                        @item.Title
                                        </button>
                                    {
                                        SolutionsIndex = SolutionsIndex + 1;
                                    }

                                }

                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            @foreach (var item in Model.Solutions)
                            {
                                    <div class="tab-pane fade   @(SolutionsIndex_tab==0?"show active":"")"
                                id="@("nav-"+SolutionsIndex_tab+"-solutions")" role="tabpanel"
                                aria-labelledby="@("nav-"+SolutionsIndex_tab+"-solutions-tab")"
                                tabindex="@SolutionsIndex_tab">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <h3>
                                                @item.Title
                                                </h3>
                                                <p>
                                                @Html.Raw(item.Describtion)
                                                </p>
                                                <a href="~/Solutions/Index/@item.Id" class="btn btn-green">
                                                    Learn More
                                                    <img src="~/assets/images/launch-app.svg" alt="">
                                                </a>
                                            </div>
                                            <div class="col-md-5" style="position: relative;">
                                                <ul class="list-unstyled solution-items-slider">

                                                @foreach (var item_sub in item.SubSolution)
                                                {
                                                            <li>
                                                                <a href="~/Solutions/Index/@item.Id">
                                                                    <img src="~/assets/images/@item_sub.Icon" alt="@item_sub.Title">
                                                            @item_sub.Title
                                                                </a>
                                                            </li>
                                                }
                                                @{
                                                    SolutionsIndex_tab = SolutionsIndex_tab + 1;
                                                }

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                            }

                        </div>
                    </div>
                </div>
            </section>
            <section class="projects dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-3 text-center">
                            <h3 class="home20">
                                Projects
                            </h3>
                            <h2>
                                @Model.SiteSettings.ProjectsTitle
                            </h2>
                            <p>
                                @Model.SiteSettings.ProjectsDesc
                            </p>
                        </div>
                    </div>
                    <div class="owl-carousel owl-theme project-carousel">

                        @foreach (var item in Model.Projects)
                        {
                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="owl-carousel owl-theme project-inner-carousel">
                                                @foreach (var images in item.Images)
                                                {
                                                            <div class="item">
                                                                <div class="bg"
                                                    style="background-image: url('/assets/images/@images.FileName');">
                                                                </div>
                                                                <div class="overley"></div>
                                                                <div class="logo">
                                                                    <img src="~/assets/images/@item.ClientLogo" alt="">
                                                                </div>
                                                                <a href="#" class="btn btn-green">
                                                                    Learn More
                                                                    <img src="~/assets/images/launch-app.svg" alt="">
                                                                </a>

                                                            </div>
                                                }

                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row">
                                                    <ul class="project-details-items">
                                                        <li>
                                                            <div class="label">
                                                                Project
                                                            </div>
                                                            <div class="text">
                                                            @item.Title
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="label">
                                                                Client
                                                            </div>
                                                            <div class="text">
                                                            @item.Client
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="label">
                                                                Scope
                                                            </div>
                                                            <div class="text">
                                                            @item.Scope
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="label">
                                                                Industrial Solution
                                                            </div>
                                                            <div class="text">
                                                            @item.IndustrialSolution
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        }

                    </div>
                </div>
            </section>
            <section class="industries">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-3 text-center">
                            <h3 class="home20">
                                Industries
                            </h3>
                            <h2>
                                @Model.SiteSettings.IndustriesTitle
                            </h2>
                            <p>
                                @Model.SiteSettings.IndustriesDesc
                            </p>
                        </div>
                    </div>
                    <div class="industry-items">
                        @foreach (var item in Model.Industries)
                        {
                                <div class="industry-item-card">
                                    <h2>
                                        <span class="icon">
                                            <img src="~/assets/images/@item.Icon" alt="">
                                        </span>
                                    @item.Title
                                    </h2>
                                    <p>
                                    @item.Describtion.Substring(0,item.Describtion.Length>100?100:item.Describtion.Length)
                                    </p>
                                    <a href="~/home/Industries">
                                        Learn More
                                        <img src="~/assets/images/launch-app-green.svg" alt="">
                                    </a>
                                </div>
                        }

                    </div>
                </div>
            </section>

            <section class="partners dark">
                <div class="container">
                    <div class="row text-center">
                        <h3 class="home20">
                            Partners
                        </h3>
                        <h2>
                            @Model.SiteSettings.PartnersTitle
                        </h2>
                        <p>
                            @Model.SiteSettings.PartnersDesc
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Set up your HTML -->
                            <div
                                class="owl-carousel-line animation-dramatic-content animate-dramatic ani_fadeIn aniUtil_dramatic aniUtil_active animate__animated animate__fadeIn">
                                <div class="owl-carousel partners-carousel">

                                    @foreach (var item in Model.Partners)
                                    {
                                            <div class="owl-carousel-item">
                                                <a href="@item.Link">
                                                    <img src="~/assets/images/@item.Image" alt="@item.Title">
                                                </a>
                                            </div>
                                    }
                                </div>
                            </div><!-- owl-carousel-line -->
                        </div><!-- col-md-12 -->
                    </div><!-- row -->
                </div> <!-- container -->
            </section><!-- partners -->
            <section class="clients dark">
                <div class="container">
                    <div class="row text-center">
                        <h3 class="home20">
                            Clients
                        </h3>
                        <h2>
                            @Model.SiteSettings.ClientTitle
                        </h2>
                        <p>
                            @Model.SiteSettings.ClientDesc
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Set up your HTML -->
                            <div
                                class="owl-carousel-line animation-dramatic-content animate-dramatic ani_fadeIn aniUtil_dramatic aniUtil_active animate__animated animate__fadeIn">
                                <div class="owl-carousel clients-carousel">

                                    @foreach (var item in Model.Clients)
                                    {
                                            <div class="owl-carousel-item">
                                                <a href="@item.Link">
                                                    <img src="~/assets/images/@item.Image" alt="@item.Title">
                                                </a>
                                            </div>
                                    }

                                </div>
                            </div><!-- owl-carousel-line -->
                        </div><!-- col-md-12 -->
                    </div><!-- row -->
                </div> <!-- container -->
            </section><!-- clients -->

        </main>
        <footer>
            <section class="footer-newsletter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 newsletter-label-container">
                            <h4>
                                @Model.SiteSettings.SubscribeTitle
                            </h4>
                        </div>
                        <div class="col-md-7">
                            <div class="subscribe">
                                <input type="text" placeholder="Enter Your Email">
                                <button type="button" class="subscribe-btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer-bottom">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-4">
                            <div class="logo">
                                <img src="~/assets/images/@Model.SiteSettings.FooterLogo" alt="logo 1">
                            </div>
                            <p class="description">
                                @Model.SiteSettings.FooterDesc
                            </p>
                            <div class="social-links ">
                                <ul class="list-unstyled list-group list-group-horizontal ">
                                    @foreach (var item in Model.SocialMedias)
                                    {
                                            <li>
                                                <a href="@item.Link" class="@item.Icon">
                                                    <i class="fa-brands fa-@item.Icon"></i>
                                                </a>
                                            </li>
                                    }

                                </ul>
                            </div>

                            <div class="copyright">
                                @Model.SiteSettings.CopyRight
                            </div>
                        </div>
                        <div class="col-md-4 fast-links">
                            <h2 >
                                Our Link
                            </h2>
                            <div class="row">
                                <div class="col-md-6">

                                    <ul class="list-unstyled list-group">
                                        <li>
                                            <a href="@Url.Action("Index","Home")">
                                                Home Page
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("About","Home")">
                                                About us
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Services")">
                                                Services
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Career
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="col-md-6">

                                    <ul class="list-unstyled list-group">
                                        <li>
                                            <a href="@Url.Action("Industries","Home")">
                                                Industries
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Projects","Home")">
                                                Projects
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Solutions") ">
                                                Solutions
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                News
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 contact-info">
                            <h2>
                                Our Address
                            </h2>
                            <div>
                                @foreach (var item in Model.Contactitems)
                                {
                                        <div class="d-flex contact-info-item">
                                            <div class="icon">
                                                <img src="~/assets/images/@item.Icon" alt="@item.Title">
                                            </div>
                                            <div class="text">
                                            @item.Value
                                            </div>
                                        </div>
                                }

                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </footer>

    </div>
    @{
        SolutionsIndex_tab = 0;
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <script src="~/assets/js/inlineSVG.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script>
        $(document).ready(function () {
            function padWithZero(num, targetLength) {
                return String(num).padStart(targetLength, '0');
            }
            /* Client */
            var mainSlider = $('#mainSliderCarousel').owlCarousel({
                slideSpeed: 300,
                dots: true,

                items: 1,
                itemsDesktop: false,
                itemsDesktopSmall: false,
                itemsTablet: false,
                itemsMobile: false
            });
            mainSlider.on('changed.owl.carousel', function (event) {
                var num = event.item.index + 1;
                var count = event.item.count;
                $('#main-slider-style').text('.main-slider .owl-dots::before{content:"' + padWithZero(num, 2) + '";}.main-slider .owl-dots::after{content:"' + padWithZero(count, 2) + '";}');
            });

            $('.partners-carousel').owlCarousel({
                loop: true,
                margin: 20,
                responsiveClass: true,
                nav: true,
                navText: ['<i class="fa-sharp fa-solid fa-arrow-left"></i>', '<i class="fa-sharp fa-solid fa-arrow-right"></i>'],
                responsive: {
                    0: {
                        items: 3,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 6,
                        nav: true,
                        loop: false
                    }
                }
            });
            $('.clients-carousel').owlCarousel({
                loop: true,
                margin: 20,
                responsiveClass: true,
                nav: true,
                navText: ['<i class="fa-sharp fa-solid fa-arrow-left"></i>', '<i class="fa-sharp fa-solid fa-arrow-right"></i>'],
                responsive: {
                    0: {
                        items: 3,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 6,
                        nav: true,
                        loop: false
                    }
                }
            });
            $('.project-carousel').owlCarousel({

                nav: true, // Show next and prev buttons
                navText: ['<i class="fa-sharp fa-solid fa-arrow-left"></i>', '<i class="fa-sharp fa-solid fa-arrow-right"></i>'],

                slideSpeed: 300,
                dots: false,

                items: 1,
                itemsDesktop: false,
                itemsDesktopSmall: false,
                itemsTablet: false,
                itemsMobile: false
            });
            $('.project-inner-carousel').owlCarousel({

                nav: true, // Show next and prev buttons
                navText: ['<i class="fa-sharp fa-solid fa-arrow-left"></i>', '<i class="fa-sharp fa-solid fa-arrow-right"></i>'],

                slideSpeed: 300,
                dots: false,

                items: 1,
                itemsDesktop: false,
                itemsDesktopSmall: false,
                itemsTablet: false,
                itemsMobile: false
            });
            $('section.solutions .nav-tabs .nav-link').on('click', function () {
                var target = $(this).attr('aria-controls');
                tns({
                    container: '#' + target + ' .solution-items-slider',
                    items: 6,
                    axis: 'vertical',
                    autoplayButton: false,
                    nav: false,
                    controlsText: ['<i class="fa-sharp fa-solid fa-arrow-left"></i>', '<i class="fa-sharp fa-solid fa-arrow-right"></i>']
                });
            });
            $('section.solutions .nav-tabs .nav-link.active').click();
        });

    </script>
</body>

</html>
