@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
     var Industries = ViewBag.Industries as List<Industry>;
         var SiteSettings = ViewBag.SiteSettings as SiteSetting;
      var SolutionsIndex = 0;
    var SolutionsIndex_tab = 0;
}

@section HeaderTitle{
<div class="top-title">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Industries</li>

    </ul>
</div>
}

<div class="layout position-relative">
    <section class="industries-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 dark">
                    <h2>
                      @SiteSettings.IndustriesTitle
                    </h2>
                    <nav>
                        <div class="nav nav-tabs flex-column" id="nav-tab" role="tablist">
                            @foreach(var itm in Industries)
                            {
                            <button class="nav-link @(SolutionsIndex==0&&ViewContext.RouteData.Values["Id"] ==null?"show active":"") @(ViewContext.RouteData.Values["Id"]!=null&&Convert.ToInt32(ViewContext.RouteData.Values["Id"]) ==itm.Id?"show active":"")" id="@("nav-"+itm.Id+"-solutions-tab")" data-bs-toggle="tab"
                                data-bs-target="@("#nav-"+itm.Id+"-solutions")" type="button" role="tab"
                                aria-controls="@("nav-"+itm.Id+"-solutions-tab")" aria-selected="true">
                                <img src="~/assets/images/@itm.Icon" alt="Health Care" class="svg-inline">
                                @itm.Title
                                 
                                </button>
                              @*  { SolutionsIndex = SolutionsIndex + 1; }*@

                    }
                        </div>
                    </nav>
                </div>
                <div class="col-md-9 white">
                    <div class="tab-content" id="nav-tabContent">
                            @foreach(var itm in Industries)
                            {
                                <div class="tab-pane fade   @(SolutionsIndex_tab==0&ViewContext.RouteData.Values["Id"] ==null?"show active":"") @(ViewContext.RouteData.Values["Id"]!=null&&Convert.ToInt32(ViewContext.RouteData.Values["Id"]) ==itm.Id?"show active":"")" id="@("nav-"+itm.Id+"-solutions")" role="tabpanel"
                                 aria-labelledby="@("nav-"+itm.Id+"-solutions-tab")" tabindex="0">
                    @*    <div class="tab-pane fade show active" id="nav-ict-solutions" role="tabpanel"
                            aria-labelledby="nav-ict-solutions-tab" tabindex="0">*@
                            <div class="row">
                                <div class="col-md-4 industry-img">
                                    <img src="~/assets/images/@itm.CoverImage" alt="">
                                </div>
                                <div class="col-md-8 industry-details">
                                    <h3>
                                        industries
                                    </h3>
                                    <h2>
                                        @itm.Title
                                    </h2>
                                    <p>
                                     @Html.Raw(itm.Describtion)
                                    </p>
                                </div>
                                </div> 
                               
                            </div>

                            { SolutionsIndex_tab = SolutionsIndex_tab + 1; }


                     }
            
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>