@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Partners = ViewBag.Partners as List<Partner>;
    var SiteSettings = ViewBag.SiteSettings as SiteSetting;
}

@section HeaderTitle{
<div class="top-title">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Partners</li>
    </ul>
</div>
}

<div class="layout position-relative">
    <section class="become-a-partner dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">

                    <h2>
                       @SiteSettings.PartnerPageTitle
                    </h2>
                    <p>
                        @SiteSettings.PartnerPageDesc
                    </p>
                    <a href="#" class="btn btn-green">
                        Contact us
                        <img src="~/assets/images/envelop.svg" alt="Contact us">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="partners-inner">
        <div class="container text-center">
            <h2>
               @SiteSettings.PartnersTitle
            </h2>
            <p>
               @SiteSettings.PartnersDesc
            </p>
            <div class="partners-items">
                @foreach(var itm in Partners)
                {
                <div class="partner-item">
                    <a href="@itm.Link">
                        <img src="~/assets/images/@itm.Image" alt="@itm.Title">
                    </a>
                </div>
                }
            
            </div>
        </div>
    </section>
</div>