@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Solutions = ViewBag.Solutions as Solution;
    var SolutionsIndex = 0;
    var SolutionsIndex_tab = 0;
}

@section HeaderTitle{
<div class="top-title">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Solutions</li>
    </ul>
</div>
}

<div class="layout position-relative">

    <section class="solutions-about dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 solutions-about-text">
                    <h3>
                        Solutions
                    </h3>
                    <h2>
                        @Solutions.Title
                    </h2>
                    <p>
                        @Html.Raw(Solutions.Describtion)
                    </p>
                </div>
                <div class="col-md-6 text-center solutions-about-img">
                    <img src="~/assets/images/@Solutions.CoverImage" alt="Solutions">
                </div>
            </div>
        </div>
    </section>
    <section class="solutions-inner">
        <div class="solutions-inner-tabs">
            <div class="container">
                <div class="row">
                    <nav>
                        <div class="nav nav-tabs solutions-inner-carousel owl-carousel owl-theme" id="nav-tab"
                            role="tablist">

                            @foreach (var item in Solutions.SubSolution)
                            {
                                <button class="nav-link @(SolutionsIndex==0?"active":"")"
                                id="@("nav-"+SolutionsIndex+"-solutions-tab")" data-bs-toggle="tab"
                                data-bs-target="@("#nav-"+SolutionsIndex+"-solutions")" type="button" role="tab"
                                aria-controls="nav-@SolutionsIndex-solutions" aria-selected="true">
                                    <span>@((SolutionsIndex + 1).ToString("D2"))</span>
                                    @item.Title
                                </button>

                                { SolutionsIndex = SolutionsIndex + 1; }
                            }
                            @* <button class="nav-link active" id="nav-ict-solutions-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-ict-solutions" type="button" role="tab"
                                aria-controls="nav-ict-solutions" aria-selected="true">ICT solutions</button>*@

                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="tab-content" id="nav-tabContent">
                    @* <div class="tab-pane fade show active" id="nav-ict-solutions" role="tabpanel"
                        aria-labelledby="nav-ict-solutions-tab" tabindex="0">
                        <div class="row">
                    *@
                    @foreach (var item in Solutions.SubSolution)
                    {
                        <div class="tab-pane fade   @(SolutionsIndex_tab==0?"show active":"")"
                        id="@("nav-"+SolutionsIndex_tab+"-solutions")" role="tabpanel"
                        aria-labelledby="@("nav-"+SolutionsIndex_tab+"-solutions-tab")" tabindex="@SolutionsIndex_tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="solution-img">
                                        <img src="~/assets/images/@item.CoverImage" alt="">
                                    </div>
                                    <h2>
                                        @item.Title
                                    </h2>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        @Html.Raw(item.Describtion)
                                    </p>
                                </div>



                            </div>
                        </div>
                        { SolutionsIndex_tab = SolutionsIndex_tab + 1; }
                    }
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts{
<script>
    $(document).ready(function () {
        $('.solutions-inner-carousel').owlCarousel({
            loop: true,
            responsiveClass: true,
            nav: true,
            dots: false,
            navText: ['<i class="fa-sharp fa-solid fa-arrow-left"></i>', '<i class="fa-sharp fa-solid fa-arrow-right"></i>'],
            responsive: {
                0: {
                    items: 3,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 6,
                    nav: true,
                    loop: false
                }
            }
        });
    });
</script>
}