@model _3sApp.Models.News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderTitle{
<div class="top-title">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">News</a></li>
        <li>@Model.Title</li>
    </ul>
</div>
}
<div class="layout position-relative">
    <section class="news-details">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/assets/images/@Model.CoverImage" alt="@Model.Title" />
                </div>
                <div class="col-md-7">
                    <div class="title">
                        <div>
                            <h1>
                                @Model.Title
                            </h1>
                        </div>
                        <div class="social-share">
                            <label>
                                Share
                            </label>
                            <ul class="list-unstyled list-group list-group-horizontal ">
                                <li class="facebook">
                                    <a href="#" class="facebook">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#" class="twitter">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="time">
                        <img src="~/assets/images/calendar.svg" alt="Date">
                        @Model.Createdon
                    </div>
                    <p>
                        @Model.Description
                    </p>
                    <div class="properties">
                        <div class="property-item">
                            <h5>
                                Scope
                            </h5>
                            <h6>
                                ICT, ELV, ISP, Security System
                            </h6>
                        </div>
                        <div class="property-item">
                            <h5>
                                Industrial solution
                            </h5>
                            <h6>
                                Residential
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4 class="text-center">
                    Related news
                </h4>
                <div class="owl-carousel related-news-carousel">
                    @for (int i = 0; i < 5; i++)
                    {
                        <div class="news-item owl-carousel-item item-@i">
                            <div class="row">
                                <div class="col-md-4 image"
                                style="background-image: url('/assets/images/@Model.CoverImage');">
                                </div>
                                <div class="col-md-8 text">
                                    <h4>
                                        @Model.Title
                                    </h4>
                                    <p>
                                        @Model.Title
                                    </p>
                                    <a asp-action="Details" asp-route-id="@Model.Id">Read more</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts{
<script>
    $('.related-news-carousel').owlCarousel({
        margin: 20,
        responsiveClass: true,
        nav: true,
        navText: ['<i class="fa-sharp fa-solid fa-arrow-left"></i>', '<i class="fa-sharp fa-solid fa-arrow-right"></i>'],
        responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 1,
                nav: false
            },
            1000: {
                items: 2,
                nav: false
            }
        }
    });
</script>
}
